*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../background.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none ;
    margin-top: 25px;
    background-color: #000;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{

    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 50px;
    
}
.title h2{
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
}
.button{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

.sideimg{
    position:absolute;
    width: 1000%;
    height: 400%;
    left: 70%;
    top: 30%;
}
.ad{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.ad h1{
    color: #000;
    font-size: 40px;
}
.cover{
   
    list-style-type: none ;
    margin-top: 40%;
    background-color: #fff;
}
.cover div{
    display: inline-block;
    
}
.logo1{
    list-style-type: none ;
    margin-top: 40%;
    background-color: #fff;}

.logo2{
    list-style-type: none ;
    margin-top: 40%;
    background-color: #fff;
}

.logo3{
    list-style-type: none ;
    margin-top: 40%;
    background-color: #fff;
}

.logo4{
    list-style-type: none ;
    margin-top: 40%;
    background-color: #fff;
}
